In [55]:
from datetime import datetime,timedelta,date,time
import pandas as pd

# You will need the following package to do it 
!pip3 install pandas_market_calendars
import pandas_market_calendars as mcal

Requirement already satisfied: pandas_market_calendars in /Applications/anaconda3/lib/python3.8/site-packages (1.6.1)
Requirement already satisfied: trading-calendars in /Applications/anaconda3/lib/python3.8/site-packages (from pandas_market_calendars) (2.1.1)
Requirement already satisfied: pandas>=0.18 in /Applications/anaconda3/lib/python3.8/site-packages (from pandas_market_calendars) (1.1.3)
Requirement already satisfied: python-dateutil in /Applications/anaconda3/lib/python3.8/site-packages (from pandas_market_calendars) (2.8.1)
Requirement already satisfied: pytz in /Applications/anaconda3/lib/python3.8/site-packages (from pandas_market_calendars) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in /Applications/anaconda3/lib/python3.8/site-packages (from pandas>=0.18->pandas_market_calendars) (1.19.2)
Requirement already satisfied: six>=1.5 in /Applications/anaconda3/lib/python3.8/site-packages (from python-dateutil->pandas_market_calendars) (1.15.0)
Requirement already satisfied: toolz in /Applications/anaconda3/lib/python3.8/site-packages (from trading-calendars->pandas_market_calendars) (0.11.1)
WARNING: You are using pip version 20.3.3; however, version 21.1 is available.
You should consider upgrading via the '/Applications/anaconda3/bin/python -m pip install --upgrade pip' command.

## Step 1: set date range

In [57]:
start = '2001-01-01'
end = '2020-06-21'

dates = pd.DataFrame({'date':pd.date_range(start, end,freq="D")})
dates = dates.set_index('date')
dates

Empty DataFrame
Columns: []
Index: [2001-01-01 00:00:00, 2001-01-02 00:00:00, 2001-01-03 00:00:00, 2001-01-04 00:00:00, 2001-01-05 00:00:00, 2001-01-06 00:00:00, 2001-01-07 00:00:00, 2001-01-08 00:00:00, 2001-01-09 00:00:00, 2001-01-10 00:00:00, 2001-01-11 00:00:00, 2001-01-12 00:00:00, 2001-01-13 00:00:00, 2001-01-14 00:00:00, 2001-01-15 00:00:00, 2001-01-16 00:00:00, 2001-01-17 00:00:00, 2001-01-18 00:00:00, 2001-01-19 00:00:00, 2001-01-20 00:00:00, 2001-01-21 00:00:00, 2001-01-22 00:00:00, 2001-01-23 00:00:00, 2001-01-24 00:00:00, 2001-01-25 00:00:00, 2001-01-26 00:00:00, 2001-01-27 00:00:00, 2001-01-28 00:00:00, 2001-01-29 00:00:00, 2001-01-30 00:00:00, 2001-01-31 00:00:00, 2001-02-01 00:00:00, 2001-02-02 00:00:00, 2001-02-03 00:00:00, 2001-02-04 00:00:00, 2001-02-05 00:00:00, 2001-02-06 00:00:00, 2001-02-07 00:00:00, 2001-02-08 00:00:00, 2001-02-09 00:00:00, 2001-02-10 00:00:00, 2001-02-11 00:00:00, 2001-02-12 00:00:00, 2001-02-13 00:00:00, 2001-02-14 00:00:00, 2001-02-15 00:00:00, 2001-02-16 00:00:00, 2001-02-17 00:00:00, 2001-02-18 00:00:00, 2001-02-19 00:00:00, 2001-02-20 00:00:00, 2001-02-21 00:00:00, 2001-02-22 00:00:00, 2001-02-23 00:00:00, 2001-02-24 00:00:00, 2001-02-25 00:00:00, 2001-02-26 00:00:00, 2001-02-27 00:00:00, 2001-02-28 00:00:00, 2001-03-01 00:00:00, 2001-03-02 00:00:00, 2001-03-03 00:00:00, 2001-03-04 00:00:00, 2001-03-05 00:00:00, 2001-03-06 00:00:00, 2001-03-07 00:00:00, 2001-03-08 00:00:00, 2001-03-09 00:00:00, 2001-03-10 00:00:00, 2001-03-11 00:00:00, 2001-03-12 00:00:00, 2001-03-13 00:00:00, 2001-03-14 00:00:00, 2001-03-15 00:00:00, 2001-03-16 00:00:00, 2001-03-17 00:00:00, 2001-03-18 00:00:00, 2001-03-19 00:00:00, 2001-03-20 00:00:00, 2001-03-21 00:00:00, 2001-03-22 00:00:00, 2001-03-23 00:00:00, 2001-03-24 00:00:00, 2001-03-25 00:00:00, 2001-03-26 00:00:00, 2001-03-27 00:00:00, 2001-03-28 00:00:00, 2001-03-29 00:00:00, 2001-03-30 00:00:00, 2001-03-31 00:00:00, 2001-04-01 00:00:00, 2001-04-02 00:00:00, 2001-04-03 00:00:00, 2001-04-04 00:00:00, 2001-04-05 00:00:00, 2001-04-06 00:00:00, 2001-04-07 00:00:00, 2001-04-08 00:00:00, 2001-04-09 00:00:00, 2001-04-10 00:00:00, ...]

[7112 rows x 0 columns]

## Step 2: find trading days within that selected date range

In [58]:
nyse = mcal.get_calendar('NYSE')
trading_days = nyse.schedule(start_date = start, end_date = end) 
trading_days = trading_days.reset_index()
trading_days = trading_days.drop(columns = ['market_open', 'market_close'])
trading_days['trading days'] = pd.to_datetime(trading_days['index'], format = '%Y-%m-%d')
trading_days = trading_days.set_index('index')
trading_days

           trading days
index
2001-01-02   2001-01-02
2001-01-03   2001-01-03
2001-01-04   2001-01-04
2001-01-05   2001-01-05
2001-01-08   2001-01-08
...                 ...
2020-06-15   2020-06-15
2020-06-16   2020-06-16
2020-06-17   2020-06-17
2020-06-18   2020-06-18
2020-06-19   2020-06-19

[4897 rows x 1 columns]

## Step 3: concat two data frames by index and drop index

In [59]:
result = pd.concat([dates, trading_days], axis=1)
result.reset_index(drop=True, inplace =True)
result

     trading days
0             NaT
1      2001-01-02
2      2001-01-03
3      2001-01-04
4      2001-01-05
...           ...
7107   2020-06-17
7108   2020-06-18
7109   2020-06-19
7110          NaT
7111          NaT

[7112 rows x 1 columns]

## Step 4: use resample to find the last trading day of every week

In [53]:
last_trading_day = result.resample('W', on='trading days').last()
last_trading_day.reset_index(drop = True, inplace = True)
last_trading_day = last_trading_day.rename(columns={"trading days": "Last Trading Day of the Week"})
last_trading_day['Year'] = last_trading_day['Last Trading Day of the Week'].dt.year
last_trading_day['Week Number'] = last_trading_day['Last Trading Day of the Week'].dt.week
last_trading_day['Day'] = last_trading_day['Last Trading Day of the Week'].dt.day_name()
last_trading_day.head(50)

<ipython-input-53-143d81dbc3ff>:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  last_trading_day['Week Number'] = last_trading_day['Last Trading Day of the Week'].dt.week

   Last Trading Day of the Week  Year  Week Number       Day
0                    2001-01-05  2001            1    Friday
1                    2001-01-12  2001            2    Friday
2                    2001-01-19  2001            3    Friday
3                    2001-01-26  2001            4    Friday
4                    2001-02-02  2001            5    Friday
5                    2001-02-09  2001            6    Friday
6                    2001-02-16  2001            7    Friday
7                    2001-02-23  2001            8    Friday
8                    2001-03-02  2001            9    Friday
9                    2001-03-09  2001           10    Friday
10                   2001-03-16  2001           11    Friday
11                   2001-03-23  2001           12    Friday
12                   2001-03-30  2001           13    Friday
13                   2001-04-06  2001           14    Friday
14                   2001-04-12  2001           15  Thursday
15                   2001-04-20  2001           16    Friday
16                   2001-04-27  2001           17    Friday
17                   2001-05-04  2001           18    Friday
18                   2001-05-11  2001           19    Friday
19                   2001-05-18  2001           20    Friday
20                   2001-05-25  2001           21    Friday
21                   2001-06-01  2001           22    Friday
22                   2001-06-08  2001           23    Friday
23                   2001-06-15  2001           24    Friday
24                   2001-06-22  2001           25    Friday
25                   2001-06-29  2001           26    Friday
26                   2001-07-06  2001           27    Friday
27                   2001-07-13  2001           28    Friday
28                   2001-07-20  2001           29    Friday
29                   2001-07-27  2001           30    Friday
30                   2001-08-03  2001           31    Friday
31                   2001-08-10  2001           32    Friday
32                   2001-08-17  2001           33    Friday
33                   2001-08-24  2001           34    Friday
34                   2001-08-31  2001           35    Friday
35                   2001-09-07  2001           36    Friday
36                   2001-09-10  2001           37    Monday
37                   2001-09-21  2001           38    Friday
38                   2001-09-28  2001           39    Friday
39                   2001-10-05  2001           40    Friday
40                   2001-10-12  2001           41    Friday
41                   2001-10-19  2001           42    Friday
42                   2001-10-26  2001           43    Friday
43                   2001-11-02  2001           44    Friday
44                   2001-11-09  2001           45    Friday
45                   2001-11-16  2001           46    Friday
46                   2001-11-23  2001           47    Friday
47                   2001-11-30  2001           48    Friday
48                   2001-12-07  2001           49    Friday
49                   2001-12-14  2001           50    Friday